.message_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.message h5 {
    text-align: center;
}